/* HeroesComponent's private CSS styles */
.selected {
    background-color: #00e676  !important;
    color: white;
  }
.selected .badge{
  border-radius: 50px;
  background-color: #fff;
  color: #00e676;
}
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.heroes li{
  cursor: pointer;
}
.heroes li.selected:hover {
  background-color: #00e676  !important;
  color: white;
}
.heroes li:hover,.heroes li:hover .badge {
  color: #fff;
  background-color: #00e676;
  left: .1em;
}
.heroes .text {
  position: relative;
  top: -3px;
}